.imagem-carrosel-1{
	object-fit: cover;
	object-position: 0 25%;
	height: 400px;
}

.imagem-carrosel-2{
	object-fit: cover;
	object-position: 0 30%;
	height: 400px;
}

.fonte-pacific{
	font-family: 'Pacifico', cursive;
}


.fonte-roboto{
font-family: 'Roboto Mono', monospace;
}

.fonte-poppins{
font-family: 'Poppins', sans-serif;
}

.fonte-flower{
	font-family: 'Indie Flower', cursive;
}

.fonte-antiqua{
	font-family: 'Uncial Antiqua', cursive;
}

.fonte-acme{
	font-family: 'Acme', sans-serif;
}

.fonte-fredoka{
	font-family: 'Fredoka One', cursive;
}

.fonte-kalam{
	font-family: 'Kalam', cursive;
}

.fonte-bad{
	font-family: 'Bad Script', cursive;
}